<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="destinations" type="EzBus.Core.Config.DestinationSection, EzBus.Core"/>
  </configSections>
  <destinations>
    <add Assembly="EzBus.Samples.Messages" Endpoint="EzBus.Samples.Client" />
  </destinations>
</configuration>