<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="destinations" type="EzBus.Core.Config.DestinationSection, EzBus.Core"/>
  </configSections>
  <destinations>
    <add Assembly="Acme.Messages" Endpoint="acme.input"/>
    <add Assembly="Acme.Messages" Message="Acme.Messages.DoAction" Endpoint="acme.input.fastlane"/>
  </destinations>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
